	/* Body Styles */
body { 
	font-family: Roboto, Verdana, sans-serif;
	background-image: url(../images/background.gif); 
	background-color:rgba(39, 89, 109, 0.83);	
	padding: 0px;
	margin: auto;
}

div	{
	background-image: url(../images/background2.gif); 
}

p	{
	background: linear-gradient(green, white);
	color: #000;	
	text-align: left;
}

	/* Header Styles */

#header
{
	height: auto;
	width: 100%;
	margin: .5% .5% .5% .5%;
	text-align: center;
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;	
}

.column1of2, .column2of2 {
	width: 47%; float: left; margin: 1%; border: 1px solid #665544;

}

p.small {
		line-height: 20px;
}

.thumbnail {
    float: left;
    width: 110px;
    height: 90px;
    margin: 5px;
}

	
	/* Navigation/Header Styles */

#nav 	{
	width: 100%;
	margin: 0px auto;
	clear: both;
	text-align: center;
} 

#footer {
	width: 100%;
	margin: 0px auto;
	clear: both;
	text-align: center;
} 

	/* Menu Styles */

#menu li {
	display: inline;
	text-align: center;
}

#menu a:link {
	color: yellow;
	padding: 8px 8px 8px 8px;
}

#menu a:hover {
	color: blue;
	background-color: #FFF;
	border-radius: 25px;
	text-decoration: underline;
}

#menu a:visited {
	color: red;
	text-decoration: underline;
}

#menu a:active {
	color: green;
	text-decoration: underline;
}
	
	/* Headers Styles */

h1	{
	font-family: Arial, Helvetica, Georgia;
	font-size: 2.5em;
	font-style: italic;
	color: #022735;
	text-align:center;
	text-shadow: 2.5px 2.5px 2.5px #113f51;
}

h2, h3	{
	font-family: Arial, Helvetica, Georgia;
	font-size: 2.0em;
	font-style: italic;
	color: #022735;
	text-align:center;
	text-shadow: 2.5px 2.5px 2.5px #113f51;
}





	/**** Table Section ****/
	
table#table1 {
    width:45%; 
    margin-left: auto; 
    margin-right: auto;
  }

table, td, th {
    border: 1.5px solid green;
    font-size: 1.0em;
    background-color: #000000;
    color: white;
    style-width: 100%
    padding: 8px 8px 8px 8px;	
}

.input {
    border: 1px solid #006;
    background: #ffc;
}
.input:hover {
    border: 1px solid #f00;
    background: #ff6;
}
.button {
    border: 1px solid #006;
    background: #ccf;
}
.button:hover {
    border: 1px solid #f00;
    background: #eef;
}

th {
    background-color: #000000;
    font-size: 1.0em;
    text-align: center;
    color: white;
    line-height: 20px;
}

:required {
  	background: grey;
}