	/* Body Styles */
body { 
	font-family: Arial, Verdana, sans-serif;
	background-image: url(../images/background.gif); 
	background-color:rgba(39, 89, 109, 0.83);	
	padding: 0px;
	margin: 0px;
}

div	{
	background-image: url(../images/background2.gif); 
}

p	{
	background: linear-gradient(green, white);
	color: #000;	
	text-align: left;
}

	/* Header Styles */

#header
{
	height: auto;
	width: 100%;
	margin: .5% .5% .5% .5%;
	text-align: center;	
}

.column1of2, .column2of2 {
	width: 47%; float: left; margin: 1%; border: 1px solid #665544;

}

p.small {
		line-height: 20px;
}

#image2 {
	float: left; border: 1px solid #665544;
}
	
	/* Navigation/Header Styles */

#nav, #footer {
	width: 100%;
	margin: .5% .5% .5% .5%;
	clear: both;
	text-align: center;
} 

	/* Menu Styles */

#menu li {
	display: inline;
	text-align: center;
}

#menu a:link {
	color: yellow;
	padding: 8px 8px 8px 8px;
}

#menu a:hover {
	color: blue;
	background-color: #FFF;
	border-radius: 25px;
	text-decoration: underline;
}

#menu a:visited {
	color: red;
	text-decoration: underline;
}

#menu a:active {
	color: green;
	text-decoration: underline;
}
	
	/* Headers Styles */

h1	{
	font-family: Arial, Helvetica, Georgia;
	font-size: 2.5em;
	font-style: italic;
	color: #022735;
	text-align:center;
	text-shadow: 2.5px 2.5px 2.5px #113f51;
}

h2, h3	{
	font-family: Arial, Helvetica, Georgia;
	font-size: 2.0em;
	font-style: italic;
	color: #022735;
	text-align:center;
	text-shadow: 2.5px 2.5px 2.5px #113f51;
}
