h1, h2	{
	color: #ee3e80;
	}

body	{
	font-family: Arial, Verdana, sans-serif;	
	}

strong {
	color: green;
	}
	
#container {
    border: 1px solid #665544;
	background-color: #efefef;
	padding: 10px;
	} 	
	
em	{
	color: violet;
	}

p	{
	color: #665544;
	}


